.categories {
  &-container {
    margin-top: 60rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240rem, 1fr));
    gap: 30rem;
  }

  &-col {
    background: var(--background---secondary);
    border-radius: 20rem;
    overflow: hidden;
    position: relative;
    transition: 0.3s all ease-in-out;

    &__img-container {
      position: relative;
      width: 100%;
      padding-top: 100%;
    }

    &__img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
      border-radius: 20rem 20rem 0 0;
      filter: blur(10rem);
      transition: 0.3s all ease-in-out;
    }

    &__title {
      font-family: var(--second-family);
      font-weight: 600;
      font-size: 22rem;
      line-height: 140%;
      text-transform: capitalize;
      color: var(--text);
      padding: 20rem 30rem 25rem 20rem;
      position: relative;
      z-index: 2;
    }

    &__icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
    }
  }
  .categories-col:hover,
  .categories-col:active {
    transform: translateY(-5rem);
  }
  .categories-col:hover .categories-col__img,
  .categories-col:active .categories-col__img {
    filter: none;
  }
}
